.steps {
  padding-top: 36px;
}

.boxSteps {
  padding: 15px;
  margin-top: 15px;
  border: 1px solid var(--gray400);
  border-radius: 3px;
}

.textN1 {
  font-weight: bold;
  margin-bottom: 0;
}
.textN2 + .textN1 {
  margin-top: 16px;
}

.textN2 {
  font-size: 14px;
  margin-left: 18px;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .boxSteps {
    padding: 30px;
    margin-top: 24px;
  }
}
