.containerStyle {
  margin: 0;
}

.containerStyle p {
  font-size: 14px;
  margin: 0;
  padding: 0 0 15px;
  text-align: justify;
}

.containerStyle label {
  font-size: 14px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

@media (min-width: 576px) {
  .containerStyle p {
    font-size: 14px;
    margin: 0;
    text-align: left;
  }

  .title {
    font-size: 16px;
  }
}