.container {
  padding: 15px;
  background-color: var(--gray700);
  border-radius: 3px;
}

.container h1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.button {
  margin-top: 15px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  color: var(--gray200);
  display: flex;
  text-decoration: none;
  background-color: var(--secondary);
  font-weight: bold;
  border: none;
  transition: all ease .1s;
}

@media (min-width: 576px) {
  .container {
    padding: 30px;
  }

  .container h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .button {
    margin-top: 30px;
    padding: 8px 50px;
    font-size: 16px;
  }

  .button:hover {
    background-color: var(--primary);
  }
}

@media print {
  .button {
    display: none;
  }

  .container h1 {
    display: none;
  }
}