.features {
  padding-top: 36px;
}

.card {
  padding: 15px;
  margin-top: 15px;
  background-color: var(--gray700);
  border-radius: 3px;
}

.titleCard {
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.textCard {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 576px) {
  .card {
    padding: 15px;
    margin-top: 24px;
  }
}

@media (min-width: 768px) {
  .card {
    padding: 30px;
    margin-top: 24px;
  }
}