.container {
  margin-bottom: 20px;
}

.boxContent {
  padding-top: 15px;
}

.container h2 {
  font-size: 18px;
  font-weight: bold;
}
.container p {
  font-size: 14px;
}

@media (min-width: 576px) {
  .container {
    margin-bottom: 50px;
  }

  .container h2 {
    font-size: 20px;
  }
}