.header {
  padding: 30px 0;
  background-color: var(--gray700);
  margin-bottom: 50px;
}

.button {
    border-radius: 3px;
    padding: 8px 50px;
    background-color: var(--secondary);
    color: var(--gray200);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all ease .1s;
}
.button:hover {
    background-color: var(--primary);
}
.button:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: var(--secondary);
}

@media print {
  .header {
    display: none;
  }
}